:root{
    --main-color: #E9DED4;
    --links-color: #3057A2;
    --highlight-color: #F54932;
    --text-color: #313131;



    --title-font: "Merriweather", serif;
    --main-font: "Golos Text", sans-serif;
}